@font-face {
  font-family: 'Patria';
  src: url('Patria Regular.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', Arial, sans-serif;
}

.encabezado {
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eef3f4;
}

.logos img,
.logoSINDAPRESS img {
  height: 60px;
}

.menu {
  background: #7f1f3f;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  display: block;
  padding: 16px 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.menu a:hover {
  background: #a32c4e;
}

.solicitudes {
  margin-left: auto;
}

.titulo {
  background: #f5f7f9;
  padding: 40px 20px;
  text-align: center;
}

.titulo h1 {
  color: #1e4f7a;
  font-size: 42px;
	  font-family: 'Patria', sans-serif;
}

.tarjetasLicenciatura,
.tarjetasTecnico {
  background: #f5f7f9;
  padding: 10px 120px 70px;
  display: grid;
  justify-content: center;
  gap: 20px;
}

.tarjetasLicenciatura {
  grid-template-columns: repeat(6, 250px);
}

.tarjetasTecnico {
  grid-template-columns: repeat(4, 250px);
}

.tarjeton {
  height: 200px;
  padding: 35px;
  border-radius: 18px;
  background: linear-gradient(145deg, #2e6aa3, #255d8c);
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeton:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.35);
}

.aviso {
  background: #7fb7ad;
  padding: 40px 20px;
  text-align: center;
}

.aviso p {
  max-width: auto;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.6;
  color: #ffffff;
	font-family: 'Patria', sans-serif;
}


/* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER */
.futer {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 20px 30px;
  font-size: 12px;
}

.futerizq,
.futercentro,
.futerder {
  width: 33%;
}

.futercentro {
  text-align: center;
}

.futercentro img {
  height: 35px;
}

.futerder {
  text-align: right;
}