@font-face {
  font-family: 'Patria';
  src: url('Patria Regular.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', Arial, sans-serif;
}

.encabezado {
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eef3f4;
}

.logos img,
.logoSINDAPRESS img {
  height: 60px;
}

.menu {
  background: #7f1f3f;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  display: block;
  padding: 16px 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.menu a:hover {
  background: #a32c4e;
}

.solicitudes {
  margin-left: auto;
}
 /*ARRIBA*//*ARRIBA*/
/*ARRIBA*//*ARRIBA*/

.cuadroscolores {
  display: flex;
  min-height: 360px;
}

.beneficios,
.programas {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.beneficios {
  background: #ffffff;
}

.beneficios h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 800;
}

.beneficios p {
  font-size: 18px;
  line-height: 1.6;
  color: #222;
  margin-bottom: 15px;
}

.programas {
  background: #7fb6ad;
  color: white;
  font-family: 'Patria', sans-serif;
}

.programas h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.programas p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.6;
}


.tarjetas {
  background: #1e4f7a;
  padding: 100px 120px;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  gap: 50px;
}

.tarjeton {
  background: linear-gradient(145deg, #2e6aa3, #255d8c);
  color: white;
  padding: 35px;
  border-radius: 18px;
  font-size: 19px;
  text-align: center;
  line-height: 1.6;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeton:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.35);
}

/* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER */
.futer {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 20px 30px;
  font-size: 12px;
}

.futerizq,
.futercentro,
.futerder {
  width: 33%;
}

.futercentro {
  text-align: center;
}

.futercentro img {
  height: 35px;
}

.futerder {
  text-align: right;
}
